html {
    --primary_color: #009C27;
    --on_primary_color: #FFFFFF;
    --background_color: #202020;
    --on_background_color: #EAEAEA;
    --surface_color: #151515;
    --on_surface_color: #B5B4B4;
    --logo_color: #FFFFFF;
    --icon_color: #EAEAEA;
    --headline_color: #FFFFFF;
    --textarea_background_color: #cacaca;
    --comment_textarea_background_color: #cacaca;
}