main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#landing__photo-con{
    flex-basis: 40%;
    display: flex;
    justify-content: end;
}
#landing__photo-con__photo{
    height: 300px;
    border-radius: 50px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    margin-right: 50px;
}

#landing__text-con{
    color: var(--on_background_color);
    flex-basis: 60%;
    flex-grow: 1;
}

#landing__text-con_text-header{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
    padding: 0 20px;
}

#landing__text-con_text-description{
    font-size: 30px;
    margin-bottom: 25px;
    padding: 0 20px;
}

#landing__text-con_btn{
    width: 130px;
    background-color: var(--primary_color);
    color: var(--on_primary_color);
    padding:10px;
    text-align: center;
    font-size: 15px;
    border-radius: 25px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-left: 20px;
}