main {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 5% 45% 5%;
    grid-template-rows: var(--header_height) auto;
    align-items: center;
}

#landing__photo {
    width: 300px;
    border-radius: 50px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    grid-column: 1/2;
    grid-row: 2/-1;
    justify-self: end;
}

#landing__text-con {
    color: var(--on_background_color);
    grid-column: 3/4;
    grid-row: 2/-1;
    padding-bottom: 25px;
}

#landing__text-con__header-underline {
    height: 2px;
    width: 5vw;
    margin-bottom: 5px;
    background-color: var(--primary_color);
    border-radius: 10px;
}

#landing__text-con_text-header {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 5px;
}

#landing__text-con_text-description {
    font-size: 30px;
    margin-bottom: 25px;
}

#landing__text-con__btn {
    display: block;
    width: 130px;
    background-color: var(--primary_color);
    color: var(--on_primary_color);
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 25px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

@media screen and (max-width: 750px) {

    main {
        --photo_height: 200px;
        grid-template-columns: unset;
        align-items: unset;
        /*  */
        grid-template-rows: var(--header_height) var(--photo_height) auto;
        row-gap: 30px;
        justify-items: center;
    }

    #landing__photo {
        width: unset;
        grid-column: unset;
        justify-self: unset;
        /*  */
        height: var(--photo_height);
        grid-row: 2/3;
    }

    #landing__text-con {
        grid-column: unset;
        padding-bottom: unset;
        /*  */
        display: flex;
        flex-direction: column;
        grid-row: 3/-1;
        padding: 0 5vw;
        text-align: center;
    }

    #landing__text-con__header-underline {
        width: 20vw;
        /*  */
        margin: 0 40%;
        margin-bottom: 5px;
    }

    #landing__text-con_text-header {
        font-size: 33px;
        /*  */
    }

    #landing__text-con_text-description {
        font-size: 25px;
        max-width: 450px;
        /*  */
    }

    #landing__text-con__btn-a {
        width: 100%;
        max-width: 300px;
        align-self: center;
        /*  */
    }

    #landing__text-con__btn {
        width: 100%;
        max-width: 300px;
        align-self: center;
        padding: 10px 0;
        font-size: 15px;
        /*  */
    }
}