html {
    --primary_color: #005C1F;
    --on_primary_color: #FFFFFF;
    --background_color: #EAEAEA;
    --on_background_color: #000000;
    --surface_color: #FFFFFF;
    --on_surface_color: #626262;
    --logo_color: #000000;
    --footer_icon_color: #626262;
    --headline_color: #000000;
    --textarea_background_color: #FFFFFF;
    --comment_textarea_background_color: #e6e4e4;
}