
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* common and default styles */
* {
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

html{
    background-color: var(--background_color);
    color: var(--on_background_color);
    font-family: 'Quicksand', sans-serif;
    font-weight: regular;
}

main{
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 0.5vw;
    background-color: var(--background_color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary_color);
}

/* header */
header {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    position: fixed;
    width: 100%;
    display: flex;
    background-color: var(--surface_color);
    align-items: center;
    height: 50px;
    z-index: 100;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    transition-duration: 0.5s;
}

#headerLogo {
    font-size: 30px;
    color: var(--logo_color);
    text-align: center;
    flex-basis: 15%;
}

#header_navs {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-basis: 73%;
}

.header-navs__nav {
    font-size: 13px;
    text-align: center;
    color: var(--on_surface_color);
    margin: 0 9px;

}

#header__change-theme-con {
    flex-grow: 1;
    text-align: center;
}
#header__change-theme-con__icon {
    color: var(--logo_color);
    font-size: 30px;
    cursor: pointer;
}

/* footer */
footer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: var(--surface_color);
}

#footer__header{
    color: var(--on_surface_color);
    font-weight:normal;
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#footer__icon-con{
    flex-basis: 33%;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    font-size: 40px;
    color: var(--primary_color);
}
#footer__copyright{
    color: var(--on_surface_color);
    font-weight:normal;
    font-size: 12px;
    flex-basis: 33%;
    display: flex;
    align-items: center;
}
