main{
    padding-top: 85px;    
}
#works__header{
    text-align: center;
    margin-bottom: 25px;
    padding: 0 150px;
}
#works__con{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.works__work{
    margin: 30px 0;
    padding: 20px 0;
    border-radius: 7px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    background-color: var(--surface_color);
    color: var(--on_surface_color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
}
.works__work__text-con__header{
    color: var(--headline_color);
}
.works__work__image-con__image{
    height: 200px;
    flex-basis: 40%;
    display: flex;
    flex-grow: 1;
}
.works__work__text-con{
    flex-basis: 60%;
}
.works__work__text-con__header{
    margin-bottom: 3px;
}
.works__work__text-con__p{
    font-size: 16px;
    margin-bottom: 20px;
}

.works__work__text-con__btn{
    width: 130px;
    background-color: var(--primary_color);
    color: var(--on_primary_color);
    padding:6px;
    text-align: center;
    font-size: 15px;
    border-radius: 25px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
