main {
    padding-top: 85px;
}

#works__main-con, #services__main-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works__main-con__work, .services__main-con__service {
    margin: 30px 0;
    padding: 20px 0;
    border-radius: 7px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    background-color: var(--surface_color);
    color: var(--on_surface_color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
}

.works__main-con__work__image-con__image, .services__main-con__service__image-con__image {
    height: 200px;
    flex-basis: 40%;
}

.works__main-con__work__text-con, .services__main-con__service__text-con {
    flex-basis: 60%;
}

.works__main-con__work__text-con__header, .services__main-con__service__text-con__header {
    margin-bottom: 5px;
    color: var(--headline_color);
}


.works__main-con__work__text-con__p, .services__main-con__service__text-con__p {
    font-size: 19px;
    margin-bottom: 15px;
}
.services__main-con__service__text-con__p_list{
    padding-left: 15px;
}
.works__main-con__work__text-con__btn, .services__main-con__service__text-con__btn {
    display: block;
    width: 130px;
    padding: 6px;
    font-size: 15px;
}

.works__main-con__work__text-con__comment-con__info {
    color: var(--headline_color);
    /* text-align: right; */
    font-size: x-large;
    margin-bottom: 20px;
}


@media screen and (max-width: 750px) {

    .works__main-con__work, .services__main-con__service {
        width: 88vw;
        padding: 40px 0 30px 0;
        /*  */
    }

    .works__main-con__work__image-con, .services__main-con__service__image-con {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .works__main-con__work__text-con, .services__main-con__service__text-con {
        /*  */
        flex-grow: 1;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .works__main-con__work__text-con__header, .services__main-con__service__text-con__header {
        margin-bottom: 10px;
        /*  */
        text-align: center;
    }

    .works__main-con__work__text-con__p, .services__main-con__service__text-con__p {
        /*  */
        text-align: justify;
    }

    .works__main-con__work__text-con__btn, .services__main-con__service__text-con__btn {
        width: 100%;
        max-width: 300px;
        padding: 6px 0;
        font-size: 16px;
        /*  */
        margin-bottom: 20px;
    }

    .works__main-con__work__text-con__comment-con__info {
        width: 100%;
    }
}